.task_bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 2rem auto;
  width: 40%;
  height: 40px;
  text-align: center;
  background-color: rgb(250, 246, 117);
  border: 2px solid yellow;
  border-radius: 8px;
}
.checkBox {
  float: left;
  width: 30px;
  height: 20px;
  border: 1px solid black;
  border-radius: 4px;
}
.title {
  text-align: right;
}
